@{
    ViewBag.Title = "Home Page";
}

<div id="weclome" class="view-body-container row position-static">
    <div class="col-9 col-centered view-body-inner">
        <h1>Welcome to the Cerner Config Request form!</h1>
        <div id="q-editor">
        </div>
    </div>
</div>>