body {
    background-image:url(/files/Graphics/background/allyFlag-right.png), url('/files/Graphics/background/allyflag left.png'), url(/files/Graphics/background/green-brick.jpg);
    background-position: top right, top left, top center;
    background-size: 40%, 40%, 100%;
    background-repeat:no-repeat, no-repeat, repeat;
    
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
h1, h2, h3, h4, h5, h6{
    color:#000;
    padding-top: 0%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
label{
    color: white;
    display:inline-block;
}
a, a:visited{
    color:  #0C454B;
    font-weight:bolder;
}

a:hover{
    color:red !important;
    -webkit-transition: all 1s; /* Safari */
        transition: all 1s;
}
aside{
    float: right;
    min-width: 20%;
    padding: .8em 1em .4em 1em;
    right: 3%;
    background-color: #24648A;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 1px solid #E2E2E2;
    margin-top: -5%;
    min-height: 103px;
    max-width: 30%;
    margin-left: 1em;
    margin-right: 1em;
}
aside a:visited{
    color: white;
}
.EventsImage{
    height: 200px;
    overflow:hidden;
}
.EventsImage img{
    width: 20%;
    padding: 2%;
}
.RaidingImage{
    height: 200px;
    overflow:hidden;
}
.RaidingImage img{
    width: 20%;
    padding: 2%;
}


.EventsImage img, .RaidingImage img{
    cursor:pointer; 
}
/*Header*/
#header{
    width:100%;
}
.mastNav{
    width: 70%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.mastNav p{
    width: 12%;
    padding: 2%;
    display:inline-block;
    font-size: 1.5em;
    vertical-align: middle;

}
.mastNav p a{
    color: white;
}
.mastNav p img{
    width: 100%
}
/*Content*/
.mainContainer {
    width: 61%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
}
.column-box{
    background-color: rgba(10, 15, 15, 0.7);
    padding: 2%;
    margin-bottom: 2%;
    color: white;
    border-radius: 2%;
    width:100%;
    background: url(/files/Graphics/background/black-brick.jpg);
    background-size: cover;
    border: 3px solid #0C4651;
}
.Intro{
    max-width: 60%;
    float: left;
}
.Outro{
    display:inline-block;
    width:100%;
    padding: 2%;
}
.left{
    float:left;
    width:33%;
    margin:0;
}
.right{
    width: 65%;
    margin-bottom: 0;
    float:right;
    margin-right: -1%;
}
.Outro .left{
    width: 45%;
}
.Outro .right{
    width: 45%;
}
.bannerImage{
    width: 100%;
    height: 20em;
    overflow:hidden;
}
.bannerImage img{
    width: 100%;
}
.introrotation{
    overflow: hidden;
    position: relative;
    height: 455px;
    width: 100%;
}
.introrotation img{
    width: 100%;
}
/*Count Down*/
div.column-box.countdownDiv{
    width: 100%;
    display:inline-block;
}
div.countDownHolder {
    width: 100%;
    color: #000;
}
div.countDownHolder .deactive {
    color: rgba(255,255,255,0.7);
}
span.countDownTitleHolder {
    text-align: center;
    padding: 2%;
    float: left;
    width: 13.75%;
    color: white;
    background-color: #0C454B;
    background-image: -webkit-linear-gradient(top, #0C454F 0%, #083435 100%);
    background-image: -o-linear-gradient(top, #0C454F  0%, #083435 100%);
    background-image: -ms-linear-gradient(top, #0C454F  0%, #083435 100%);
    background-image: linear-gradient(top, #0C454F ) 0%, #083435 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CC0000', endColorstr='#990000',GradientType=0 );
    border-radius: 10px;
    margin-left: 1.85%;
    margin-top: 1%;
    font-size: .8em;
}
/*Footer*/
#footer{
    width: 100%;
    float:left;
    margin-top: 2%;
    background-color:#221E1E;
    color: white;
    border-top:5px solid white;
    vertical-align:middle;
    background: url(/files/Graphics/background/black-brick.jpg);
}
div#footer-content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}
#super-footer{
    width: 4em;
    position:absolute;
    left:45%;
    margin-top:-2%;
}
#super-footer img{
    width:100%;
}
#footercontainer3 {
    clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
    padding-top: 4%;
    margin-bottom:5%;
}
#footercontainer2 {
    clear: left;
    float: left;
    width: 100%;
    position: relative;
    right: 15.333%;
}
#footercontainer1 {
    float: left;
    width: 100%;
    position: relative;
    right: 33.33%;
}
#footercol1 {
    float: left;
    width: 29.33%;
    position: relative;
    left: 68.67%;
    overflow: hidden;
}
#footercol2 {
    float: left;
    width: 29.33%;
    position: relative;
    left: 72.67%;
    overflow: hidden;
}
#footercol3 {
    float: left;
    width: 29.33%;
    position: relative;
    left: 76.67%;
    overflow: hidden;
}
#footercol3 h1.stay-connected{
    margin-top:0px;
}
/*News Feed*/
        .guildNews{
            color: white;
            list-style-type: none;
            font-size: 1.1vw;
        }
        .showNews{
            display:none;
            color: white;
            background-color: black;
            padding: 1%;
            position: absolute;
            margin-top: -7%;
            margin-left: 22%;
            border-radius: 2%;
            z-index:999999;
        }
        .showNews img{
            float: left;
        }
        .newsInfo {
            float: left;
            display: inline-block;
            padding:0%;
        }
        .newsInfo h2{
            margin-top:0px;
        }
        .newsInfo .itemLevel{
            color:yellow;
        }
        .newsInfo p{
            margin:0px;
        }
        .newsInfo ul {
            color: green;
            font-weight: bold;
            list-style-type:none;
        }
        .showNews.achieve { 
            border: 2px solid gold;  
        }
       
        .achievement{
            color: gold;
        }
         .quality0{
            color:#808080;
        }
        .quality1{
            color:#fff;
        }
        .quality2{
            color:#4cff00;
        }
        .quality3{
            color:#0026ff;
        }
        .quality4{
            color:#7609a9;
        }
        .quality5{
            color:#ff6d00;
        }
        .quality6{
            color:#f79347;
        }
        .quality7{
            color:#f79347;
        }
         .showNews.quality0{
             color: white;
            border: 1px solid #808080;
        }
        .showNews.quality1{
            color: white;
            border: 1px solid #fff;
        }
        .showNews.quality2{
            color: white;
            border: 1px solid #4cff00;
        }
        .showNews.quality3{
            color: white;
            border: 1px solid #0026ff;
        }
        .showNews.quality4{
            color: white;
            border: 1px solid #7609a9;
        }
        .showNews.quality5{
            color: white;
            border: 1px solid #ff6d00;
        }
        .showNews.quality6{
            color: white;
            border: 1px solid #f79347;
        }
        .showNews.quality7{
            color: white;
            border: 1px solid #f79347;
        }
/*Join Guild Form*/
.FormLabel{
    color: white;
}   

/*Roster Table*/
#RosterTable {
    color: white;
}
#RosterTable tr td{
    text-align: center;
}
#RosterTable tbody td{
    color: black;
}

div#RosterTable_length label {
    color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    color: white !important;
}
.dataTables_info{
    color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background-color: #0B4149;
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0B454E), color-stop(100%, #0D3132)); 
     background: -webkit-linear-gradient(top, #0B454E 0%, #0D3132 100%); 
    background: -moz-linear-gradient(top, #0B454E 0%, #0D3132 100%);
    background: -ms-linear-gradient(top, #0B454E 0%, #0D3132 100%);
    background: -o-linear-gradient(top, #0B454E 0%, #0D3132 100%);
    background: linear-gradient(to bottom, #0B454E 0%, #0D3132 100%);
}
.sorting:hover, .sorting_asc:hover{
    color: #0B4149;
}
#RosterTable_filter label{
   color:white;
}
/*Rotation Slider*/
.introrotation-item{
    display:none;
}
.introrotation-item:nth-child(1){
    display:block;
}
.introrotation-text {
    position: absolute;
    top: -5%;
    color: white;
    width: 100%;
    height: 200px;
}
.introrotation-title {
    width: 97%;
    padding: 2%;
    padding-top: 5px;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom:0px;
    margin-top: 2%;
}
.introrotation-text p {
    width: 97%;
    padding: 0% 2% 2% 2%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all .5s ease-in-out;
    margin: 0;
}
.introrotation:hover p {
    opacity: 1;
}
.buttonHolder {
    position: absolute;
    padding: 10px;
    bottom: 0px;
    right: 0px;
}
.buttonHolder button {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 40px;
    border: none;
    padding: 5px;
    color: white;
    transition: all .3s ease-in-out;
}
.buttonHolder button:hover{
    color: #0B4149;
    cursor:pointer;
}
/*Charcter Equiped Items*/
.profileBackground{
    width:96%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding:2%;
    position:relative;
}
.ItemDiv h2 {
    font-size: 1em;
}
.ItemDiv img {

    margin-right: 5%;
}
        img.quality0{
            border: 1px solid #808080;
        }
        img.quality1{
            border: 1px solid #fff;
        }
        img.quality2{
            border: 1px solid #4cff00;
        }
        img.quality3{
            border: 1px solid #0026ff;
        }
        img.quality4{
            border: 1px solid #7609a9;
        }
        img.quality5{
            border: 1px solid #ff6d00;
        }
        img.quality6{
            border: 1px solid #f79347;
        }
        img.quality7{
            border: 1px solid #f79347;
        }
.ItemDiv {
    width: 20%;
    margin-bottom: 0%;
}

.MoreInfo{
    display:none;
    color: white;
    background-color: black;
    padding: 1%;
    position: absolute;
    margin-top: -3%;
    margin-left: 8%;
    border-radius: 2%;
    border: 1px solid;
    width: 25%;
    z-index: 99999;
}
.MoreInfo ul{
    list-style-type:none;
}
.MoreInfo.quality0{
             color: white;
            border: 1px solid #808080;
        }
        .MoreInfo.quality1{
            color: white;
            border: 1px solid #fff;
        }
        .MoreInfo.quality2{
            color: white;
            border: 1px solid #4cff00;
        }
        .MoreInfo.quality3{
            color: white;
            border: 1px solid #0026ff;
        }
        .MoreInfo.quality4{
            color: white;
            border: 1px solid #7609a9;
        }
        .MoreInfo.quality5{
            color: white;
            border: 1px solid #ff6d00;
        }
        .MoreInfo.quality6{
            color: white;
            border: 1px solid #f79347;
        }
        .MoreInfo.quality7{
            color: white;
            border: 1px solid #f79347;
        }

span.context{
    color: gold;
}
.itemLevel{
    color: gold;
}
.itemsRight{
    float: right;
}
.itemsBottom {
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 35%;
    display:inline-block;
}
.itemsBottom .HeadDiv{
    float:left;
}
.itemsBottom .MoreInfo{
    width: 70%;
}
/*Tablet*/
@media handheld, screen and (max-width: 1293px){
    .introrotation{
        height: 350px;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .guildNews{
        font-size: 1.5vw;
    }
}

/*Tablet*/
@media handheld, screen and (max-width: 500px) {
    .introrotation {
        height: 200px;
    }
    .introrotation-title{
        font-size: 20px;
    }
    .buttonHolder button{
        font-size: 20px;
    }
    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }
    .mastNav p {
        /* width: 12%; */
        padding: 2%;
        display: block;
        font-size: 1.5em;
        vertical-align: middle;
        text-align:center;
        width: 100%;
    }
    .mastNav p a img{
        width: 10%;   
        
    }
}