/*
    This StyleSheet is for custom items on the website.
    
*/
/*Roster Table*/
#RosterTable tr.odd > td{
    background-color:#f9f9f9;
}
#RosterTable tr.even > td{
    background-color: #f9f9f9;
}
.dataTables_wrapper{
    margin-bottom: 40px;
}


/*About Us QuoteBlock*/

.quoteBlock{
    margin-top: 50px;
}
.quoteBlock img{
    position: relative;
    width: 150px;
    height: auto;
    top: -20px;
    left: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px black;
    float: left;
}

.quoteBlock .quote{
    margin-left: 240px;
    margin-right: 50px;
    font-family: "ISUItalic", "Myriad Pro", Helvetica, sans-serif;
    /* font-style: italic; */
    /* font-weight: 500; */
    color: #555;
    font-size: 1.15em;
    margin-top: 50px;
    /* line-height: 1.15em; */
}
.quoteBlock .who{
    float: right;
    font-size: 1em;
    margin-right: 25px;
    color: #555;
}
.quoteBlock .who:before{
    content: "~ ";
}
.quoteBlock .quote:before, .quoteBlock .quote:after{
    position: relative;
    color: #555;
    font-size: 4em;
    font-family: FontAwesome;
    white-space: pre-wrap;
    line-height: 0em;
}
.quoteBlock .quote:before{
    content: open-quote;
    top: 15px;
    left: -20px;
}
.quoteBlock .quote:after{
    content: close-quote;
    float: right;
    top: 30px;
    left: 0px;
}