/*Global Styles*/
html {
    height: 100%;
}

body{
    overflow-x: hidden;
    height: 100%;
}

header.global-head {
    display: block;
    padding: 0;
    margin: 0;
    height: 15vh;
    /*background-color:#6a737b;*/
}
div.global-head-inner{
    display: block;
    padding: 1em;
    margin: 0;
    height: 50%;
}

div#header-row{
    height:100%;
}

nav#global-nav{
    height: 50%;
}

img#user-img{
    height:2.5em;
    width:2.5em;
}
span#user-name{
    color: black;
    font-weight: 500;
}

div#main-container {
    height: 80vh;
    background-color: #eff2f3;
}

footer#global-footer {
    height: 5vh;
    background-color: #343a40;
    width: 100%;
    position: absolute;
    bottom: 0;
}

button#new-request-btn {
    height: 50%;
    width: 100%;
}

div.view-body-container {
    height: 100%;
    background-color: #eff2f3;
    overflow: auto;
}

div.view-body-inner {
    background-color: white;
    height: 100%;
    overflow: hidden;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.btn-group-custom .row {
    padding: 5px;
}

/*Builds*/
/*div#build-view-container {
    height: 100%;
    background-color: white;
}*/
.row.build-view-head {
    height: 10%;
    padding: 1em;
}

.row.build-view-options {
    height: 90%;
}


/*Builds Table*/
#myTable {
    display: none;
}

#myTable.dataTable {
    display: table;
}

#myTable tbody tr {
    cursor: pointer;
}

.row.myTable-column-header {
    margin: 5px;
    padding: 0px;
}

.row.myTable-column-filter {
    padding: 4px;
}


/*Builds Questions*/

form.build-form{
    height:100%;
}

div#build-form-header {
    height: 15%;
}

div #build-form-header h3 {
    margin: 8px;
}

div #build-form-header .progress.progress-bar-striped {
    height: 3.5vh;
    margin: 1.5vh 0;
}

div#build-form-content {
    height: 85%;
}

div#build-question-list {
    overflow-y: auto;
    /*overflow: hidden;*/
    max-height: 100%;
}

    div#build-question-list ul li.list-group-item:hover {
        cursor: pointer;
        border-color: #00b894
    }

div#build-question {
    height: 100%;
    padding-left: 3vw;
}

.form-question-content {
    height: 100%;
}

div.question-wrapper {
    height: 90%;
}

.row.form-question-options {
    height: 8%;
    margin: 1%;
}

.question-form-title {
    height: 15%;
    margin: 1px 1px;
}

.question-form-input {
    height: 82%;
    margin: 1px 1px;
}


.cur-q {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/*SCROLL BARS*/

.scrollbar {  
    min-height: 300px;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 50px;
}

/*
 *  STYLE 7
 */

#build-question-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#build-question-list::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#build-question-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122,153,217)), color-stop(0.72, rgb(73,125,189)), color-stop(0.86, rgb(28,58,148)));
}


/*Uncomment section to get all links*/
/*
li.d-none{
    display:block !important;
}*/



/*Mangage Builds*/
form.manage-build-form {
    height: 100%;
    overflow:hidden;

}

.manage-build-header {
    margin: 15px !important;
}

.manage-build-title {
    height: auto;
}

.manage-build-content {
    height: auto;
}

.manage-build-field {
    margin: 10px 0px;
}

#question-tabContent {
    position:relative;
    height: 100%;
}

.question-slide-out {
    opacity: 0;
    position: absolute;
    top: 0;
    left: calc(100% + 15px);
    width: calc(60% + 15px);
    height: 100%;
    background-color: #fff;
    border-top: 3px solid #007bff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 3px solid #007bff;
    transition: 0.5s;
    z-index: 100;
    transition-timing-function: ease-in-out;
}

.question-slide-out.show-slide {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

/*#question-slide-out .question-top{
    position:relative;
    height: 15%;
    background-color: transparent;
}*/

.question-slide-out .question-slide-out-inner {
    position: relative;
    height: 100%;
}

.question-slide-out.q-show {
    left: 40%;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

#question-text-editor{
    z-index:200;
    background-color: #fff;
}


.question-tab {
    margin: 55px 0 0 0;
    position: absolute;
    left: -40px;
    height: 300px;
    width: 40px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    color: #fff;
    background: #007bff;
    border-radius: 15px 0px 0px 15px;
    cursor: pointer;
}

.question-tab .question-tab-inner {
    text-align: left;
    position: relative;
    right: 115px;
    top: 135px;
    color: #fff;
    background: #007bff;
    height: 30px;
    width: 270px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
}


div#q-editor-head {
    height: 10%;
    background-color: #ffc107;
    color: #212529;
    position: relative;
    width: 100%;
    border-top-left-radius: 10px;
}

#q-editor-head h1 {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 5px;
    /* display: inline; */
}

button#question-text-go-back {
    position: absolute;
    z-index: 500;
    top: 20%;
    left: 3%;
    width: 20%;
    height: 60%;
}

div#q-editor-container {
    height: 90%;
    padding: 0;
    margin: 0;
}

div#q-editor-inner {
    height: 100%;
    padding: 0;
    margin: 0;
}


ul.q-option-list {
    width: 100%;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.q-option-text-input {
    display: inline-block !important;
    margin: 10px;
    width: calc(50% - 40px) !important;
}

div.q-option-child-input {
    width: calc(50% - 40px) !important;
    margin: 10px !important;
    padding: 0;
    vertical-align: top;
}

.q-option-manage {
    display: inline-block;
    vertical-align: middle;
}

.q-option-manage-icon {
    font-size: 30px;
    cursor: pointer;
    color: black;
    transition: all 0.5s ease-in-out 0s;
}

.q-option-manage-icon:hover {
    transform: rotate(360deg);
    font-size: 30px;
}

.q-option-manage-icon.q-option-delete:hover {
    color: red;
}

.q-option-manage-icon.q-option-add:hover{
    color: green;
}

/*#new-option-placeholder{
    cursor: pointer;
}*/

#new-option-wrapper {
    width: calc(100% - 80px);
    display: inline-block;
    margin: 10px;
    padding: 0;
    border-bottom: 1px solid;
    border-color: grey;
    opacity: 0.5;
}

#q-required-wrapper {
    display: inline-block;
    width: calc(33.3% - 10px);
    margin-right: 10px;
}

#q-whats-this-btn-wrapper {
    display: inline-block;
    width: calc(33.3% - 10px);
    margin-right: 10px;
}

div#q-alerts-btn-wrapper {
    display: inline-block;
    width: calc(33.3% - 10px);
}