@using ConfigRequestQuestionApp.Models;

@{
    ViewBag.Title = "Manage Build";
}

<div id="manage-build-form-container" class="view-body-container row position-static">
    <div class="col-9 col-centered view-body-inner">
        <h2>ManageBuild</h2>
        <div id="build-js-tree">
        </div>


        @*<div id="json-troubleshoot">

        </div>*@
    </div>
</div>