@using ConfigRequestQuestionApp.Models;
@*@model ConfigRequestQuestionApp.Models.Build*@

@{
    ViewBag.Title = "Manage Build";
}

<div id="manage-build-form-container" class="view-body-container row position-static">
    <div class="col-12 col-centered view-body-inner">
        <div class="row manage-build-loader justify-content-center h-100 align-items-center">
            <div class="spinner-border text-success" style="width: 10rem; height: 10rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <form class="manage-build-form d-none" method="post" action="FILELOCATION FOR THE POST">
            <div class="d-flex flex-column h-100">
                <div class="d-flex flex-row row manage-build-header align-items-center">
                    <div class="col-sm-12 col-lg-10 manage-build-title">
                        <h2>[No Name]</h2>
                    </div>
                    <div class="col-sm-12 col-lg-2 align-content-end">
                        <div class="versions-drp-dwn col-12">
                            <select class="selectpicker show-tick" title="Choose a version..." data-selected-text-format="Version " data-style="btn-outline-secondary" data-width="100%" data-live-search="true">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row flex-grow-1 align-items-start flex-wrap manage-build-content">
                    <div class="col-sm-12 col-lg-2">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-build-info-tab" data-toggle="pill" href="#v-pills-build-info" role="tab" aria-controls="v-pills-build-info" aria-selected="true">Build Info</a>
                            <a class="nav-link" id="v-pills-question-tab" data-toggle="pill" href="#v-pills-questions" role="tab" aria-controls="v-pills-questions" aria-selected="false">Questions</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-10 h-100">
                        <div class="tab-content" id="question-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-build-info" role="tabpanel" aria-labelledby="v-pills-build-info-tab">
                                <div class="form-group d-flex flex-row flex-wrap">
                                    <div class="col-sm-12 col-lg-6 manage-build-field">
                                        <label for="build-name">Build Name:</label>
                                        <input class="form-control" id="build-name" type="text" value="">
                                    </div>
                                    <div class="col-sm-12 col-lg-6 manage-build-field">
                                        <label for="solution-meaning">Solution</label>
                                        <input class="form-control" id="solution-meaning" type="text" value="">
                                    </div>
                                    <div class="col-sm-12 col-lg-6 manage-build-field">
                                        <label for="version-num">Version #:</label>
                                        <input class="form-control" id="version-num" type="text" value="">
                                    </div>
                                    <div class="col-sm-12 col-lg-6 manage-build-field">
                                        <label for="active_ind">Active:</label>
                                        <input class="form-control" id="active_ind" type="text" value="">
                                    </div>
                                    <div class="col-sm-12 col-lg-6 manage-build-field">
                                        <label for="last_update_date">Last Updated:</label>
                                        <input class="form-control" id="last_update_date" type="text" value="">
                                    </div>
                                    <div class="col-sm-12 col-lg-6 manage-build-field">
                                        <label for="last_updated_by">Last Updated By:</label>
                                        <input class="form-control" id="last_updated_by" type="text" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-questions" role="tabpanel" aria-labelledby="v-pills-question-tab">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="form-group col-12">
                                            <div class="col-12">
                                                <label for="txt-tree-search">Search Tree:</label>
                                                <input class="form-control" id="txt-tree-search" type="text">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div id="build-js-tree">
                                        </div>
                                    </div>
                                </div>
                                <div id="question-slide-out" class="question-slide-out d-none">
                                    @*<div class="question-top"></div>*@
                                    <div class="question-slide-out-inner">
                                        <div class="question-tab">
                                            <div class="question-tab-inner" data-placement="left" data-toggle="tooltip" title="">
                                            </div>
                                        </div>
                                        <div class="question-content col-12">
                                            <div class="d-flex flex-row flex-wrap">
                                                <div class="col-sm-12 col-lg-12 manage-build-field">
                                                    <label for="question-title">Question:</label>
                                                    <input class="form-control" id="question-title" type="text" value="">
                                                </div>
                                                <div class="question-type-drp-dwn manage-build-field col-sm-6 col-lg-12">
                                                    <select class="selectpicker show-tick" title="Choose a question type..." data-style="btn-outline-primary" data-width="100%" data-live-search="true"></select>
                                                </div>
                                                <div class="manage-build-field col-sm-12 col-lg-3">
                                                    <input type="checkbox" checked data-toggle="toggle" data-on="Not Required" data-height="100%" data-width="100%" data-off="Required" data-onstyle="success" data-offstyle="danger">
                                                </div>
                                                <div class="manage-build-field col-lg-12">
                                                    <button id="what-this-btn" type="button" class="btn btn-warning">What's This?</button>
                                                </div>

                                            </div>

                                            @*<div class="row">
                                                    <h2>Question Title</h2>
                                                </div>
                                                Question Type
                                                Required
                                                whats this
                                                alerts
                                                <div class="question-option-settings">
                                                    conditional?
                                                    fill out options
                                                    if conditional, fill out child q
                                                    check - Not Applicable Option
                                                    check - Other Option
                                                </div>

                                                last updated
                                                last updated by:*@
                                        </div>
                                    </div>
                                </div>
                                <div id="question-text-editor" class="question-slide-out d-none" >
                                    <div class="question-slide-out-inner">
                                        <button id="question-text-go-back" type="button" class="btn btn-secondary">Go Back</button>
                                        <div id="q-editor">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>>
        </form>
        @*<div id="json-troubleshoot">

            </div>*@

    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/Builds/ManageBuild")
}